/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E8CEC5;
  margin: 0;
  padding: 0;
}

#form-wrapper {
  display: flex;
  
  padding: 0 50px;
}

.form {
  display: flex;
  margin-left: 20px;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
}

#couch {
  background-image: url('images/couch-1.png');
  background-repeat: no-repeat;
  width: 800px;
  height: 418px;
  background-size: 800px 418px;
  flex: none;
  margin-top: -115px;
}

/* Breakpoint for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 767px) {
  #couch {
      width: 400px;
      height: 209px;
      background-size: 400px 209px;
  }
}

/* Breakpoint for screens between 768px and 1024px (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  #couch {
      width: 600px;
      height: 314px;
      background-size: 600px 314px;
  }
}

#reply {
  width: 100%;
  font-size: 16px;
  padding: 10px;
}

#approach {
  width: 100%;
  font-family: Lora, Arial, sans-serif;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border: 1px solid #d49ea7;
  border-radius: 6px;
  resize: vertical;
  color: #7a5c67;
  margin-bottom: 10px;
  outline: none;
  transition: border-color 0.3s ease-in-out; /* Optional: Add a smooth transition effect */
}

#approach:focus {
  border-color: #ff69b4; /* Change the border color to a nice pink on focus */
}

#approach::placeholder {
  font-style: italic; /* Make the placeholder text italic */
  color: #dac3cc; /* A light faded pink color */
}

input[type="submit"] {
  background-color: #FFC0CB;
  color: white;
  padding: 7px 15px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 40px;
  background-color:#fcf4f5;
  font-weight: bold;
  color: #D47B5C;
}

input[type="submit"]:hover {
  background-color: #ffdae0;
}

.gallery-container {
  background-image: url('images/banana-bg.png');
  background-size: 700px 365px;
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  padding: 50px 15px 150px;
}

.gallery-item {
  position: relative;
  margin: 7px 5px;
  overflow: hidden;
}

.img-container {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow: hidden; /* Hide the parts of the image that don't fit */
}


.gallery-item img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-item .img-container img {
  max-width: 100%;
  object-fit: cover;
  width: 90%;
  height: 90%;
}

.frame-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.3);
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#sent-message {
  position: relative;
  display: none;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 15px;
  background-color: #ecdde0;
  color: #5e444e;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  max-width: 80%;
  word-wrap: break-word;
  width: 100%;
}

#sent-message::before {
  content: '';
  position: absolute;
  top: 10px; /* adjust this value to move the arrow up or down */
  left: -10px; /* move the arrow to the left side */
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #ecdde0; /* change border-right to create an arrow pointing to the right */
}

#processing-message {
  width: 80%;
  margin: 10px 0 0;
  color: #7a5c67;
  font-style: italic;
}